<mat-toolbar>
  <span>SISTEMA WEB DE ADMINISTRATIVOS</span>
 
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
      <img class="avatar mat-elevation-z8" src="assets/logo1.png" alt="">
      <h4 class="name">Nilda Quispe</h4>
      <h5 class="tipo">Adminsitrador</h5>
      <mat-divider></mat-divider>
      
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon> 
        <span>HOME</span> 
      </button>
      <button mat-button class="menu-button">
        <mat-icon>face</mat-icon> 
        <span><a [routerLink]="['/dashboard/personal-perfil']">PERFIL</a></span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>list</mat-icon> 
        <span > <a [routerLink]="['/dashboard/personal-registro']">LISTA</a></span> 
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon>close</mat-icon> 
        <span>SALIR</span> 
      </button>
  </mat-drawer>

  <mat-drawer-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
 
</mat-drawer-container>

