table {
    width: 100%;
}
/* Section Titulo */
.sectionFather{
    width: 100% !important; 
    display: inline-block; 
}
#titleAdministracion{
    width: 85%; 
    display: inline-block;
}
#srtFecha{
    color: black;
    width: 15%;
    display: inline-block;
    font-size: 0.9rem;
}

/* Seccion Boton */

.sectionBotonUpdate{
    width: 100% !important; 
    /* display: inline-block; */ 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
#sectionBoton1{
    width: 50% !important; 
    display: inline-block; 
    vertical-align: middle; 
    justify-content: right !important; 
    text-align: right;
}
#sectionBoton2{
    width: 50% !important; 
    display: inline-block; 
    vertical-align: 6px;
}
/* Color Boton*/
#buttonBuscarAnadir{
    background-color: rgb(92, 14, 165);
}
#buttonBuscarAnadirAA{
    background-color: rgb(92, 14, 165);
    width: 100% !important;
}

/**/

#filtros{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    /* gap: 16px; */
    /* padding: 16px; */
}

.item {
    margin-right: 10px; 
    flex: 1 1 calc(25%);
    /* box-sizing: border-box; */
    /* background-color: #f0f0f0; */
    /* padding: 16px; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
}



#filtros{
    width: 100%;
    display: inline-block;
    /* background-color: yellowgreen; */
}

#item1 {
    display: inline-block;
    width: 33.3%;
}
#item2 {
    display: inline-block;
    width: 33.3%;
}
#item3 {
    display: inline-block;
    width: 33.3%;
}
#item4 {
    display: inline-block;
    width: 30%;
}

#sectionBotonBuscar{
    background-color: teal;
    width: 25% !important; 
    display: inline-block; 
    vertical-align: middle; 
    /* justify-content: right !important;  */
    /* text-align: right; */
}
#sectionBotonLimpiar{
    width: 20% !important; 
    display: inline-block; 
    /* text-align: right; */
}
#sectionBotonPrint{
    width: 25% !important; 
    display: inline-block; 
    /* text-align: left; */
}


@media (max-width: 768px) {
    /* .item {
        flex: 1 1 calc(50% - 32px);
    } */
    #item1 {
        display: inline-block;
        width: 50%;
    }
    #item2 {
        display: inline-block;
        width: 50%;
    }
    #item3 {
        display: inline-block;
        width: 50%;
    }
    #item4 {
        display: inline-block;
        width: 50%;
    }

    
}

@media (max-width: 480px) {
    .item {
        flex: 1 1 100%;
    }
}