<section style="width: 100% !important;  " >
    <div class="text-center" style="width: 100% !important; height: 80em;">

        <section style="width: 90%;display: inline-block;">
            <span class="titulo" >REPORTE DE VERANO</span>
        </section>
        <section style="width: 10%;display: inline-block;" >
            <h1>Fecha Hoy</h1>
        </section> 
        <hr>

        <section style="height: 100%;">
            <iframe width="100%" height="100%" id="tagDataPdf"></iframe>
        </section>
    </div>
    
</section>

